<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ligas</title>
</head>
<body>
<body>
<table>
    <% for(var i=0; i < data.length; i++) { %>
    <tr>
        <td><%= data[i].codigo %></td>
        <td><%= data[i].nome %></td>
    </tr>
    <% } %>
</table>
</body>
</html>